# ==============================================================================
# CONFIGURAÇÕES GERAIS DO ECOSSISTEMA PROTHEUS DEVOPS
# ==============================================================================

# --- PARAMETRIZAÇÃO DO LICENSE (NOVO) ---------------------------------------
LICENSE_SERVER_IP=192.168.1.50
LICENSE_SERVER_PORT=5555

# --- CONFIGURAÇÃO DE DADOS DINÂMICOS -----------------------------------------
DB_NAME=protheus_prod
DB_USER=totvs
DB_PASS=TotvsPassword@123

# --- PARAMETRIZAÇÃO POSTGRESQL ------------------------------------------------
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=root_postgres_secure_password

# --- PARAMETRIZAÇÃO MS SQL SERVER --------------------------------------------
MSSQL_SA_PASSWORD=YourStrong@Password2026

# --- PARAMETRIZAÇÃO DO DBACCESS ----------------------------------------------
# Se for usar Postgres: DB_TYPE=POSTGRESQL | DB_SERVER=protheus_postgres | DB_PORT=5432
# Se for usar SQL Server: DB_TYPE=MSSQL | DB_SERVER=protheus_sqlserver | DB_PORT=1433
DB_TYPE=POSTGRESQL
DB_SERVER=protheus_postgres
DB_PORT=5432