# --- LICENSE CONFIGURATION ---------------------------------------------------
LICENSE_SERVER_HOST=protheus_license
LICENSE_SERVER_PORT=5555

# --- ENVIRONMENT CONFIGURATION -----------------------------------------------
ENV_NAME=protheus_prod

# --- TARGET DATABASE CONFIGURATION (PROTHEUS CREDENTIALS) ---------------------
DB_USER=totvs
DB_PASS=totvs123
DB_NAME=protheus_prod     # <-- Única declaração: Define o ambiente no dbaccess.ini

# --- POSTGRES ENGINE CONFIGURATION (ROOT SUPERUSER) ---------------------------
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=root_postgres_secure_password

# --- SQL SERVER ENGINE CONFIGURATION (SA SUPERUSER) ---------------------------
MSSQL_SA_PASSWORD=YourStrong@Password2026

# --- ACTIVE INFRASTRUCTURE PER PROFILE ---------------------------------------
# Opção Postgres: DB_TYPE=POSTGRES | DB_SERVER=protheus_postgres  | DB_PORT=5432
# Opção MSSQL:    DB_TYPE=MSSQL    | DB_SERVER=protheus_sqlserver | DB_PORT=1433
# Opção Oracle:   DB_TYPE=ORACLE   | DB_SERVER=protheus_oracle    | DB_PORT=1521  | DB_SERVICE_NAME=ORCLPDB1
DB_TYPE=ORACLE
DB_SERVER=protheus_oracle
DB_PORT=1521
DB_SERVICE_NAME=ORCLPDB1  # <-- Destino real da rede no Oracle (Pluggable Database)