[General]
LicenseServer=${LICENSE_SERVER_HOST}
LicensePort=${LICENSE_SERVER_PORT}
ODBC30=1
MaxStringSize=500
UseLargeRecno=1
ConsoleFile=/opt/totvs/dbaccess/log/dbaccess.log
ConsoleLog=1
LogFull=0
GlbProfiler=0

[POSTGRES]
environments=${DB_NAME}
clientlibrary=/usr/lib/x86_64-linux-gnu/libodbc.so
CodePage=WIN1252

[MSSQL]
AutoTranslate=0
environments=${DB_NAME}
clientlibrary=/usr/lib/x86_64-linux-gnu/libodbc.so
compression=2

[ORACLE]
ORACLE_HOME=/opt/oracle/instantclient_21_3
Clientlibrary=/opt/oracle/instantclient_21_3/libclntsh.so
MemoAsBlob=0
environments=${DB_NAME}

[POSTGRES/${DB_NAME}]
ConnectionMode=2
ConnectionString="DRIVER={PostgreSQL ANSI};SERVER=${DB_SERVER};PORT=${DB_PORT};DATABASE=${DB_NAME};Uid=${DB_USER};Pwd=${DB_PASS}"
UseRowInsDt=1
UseRowsStamp=1

[MSSQL/${DB_NAME}]
ConnectionMode=2
ConnectionString="DRIVER={ODBC Driver 18 for SQL Server};SERVER=${DB_SERVER};PORT=${DB_PORT};DATABASE=${DB_NAME};Uid=${DB_USER};Pwd=${DB_PASS};TrustServerCertificate=yes"
UseRowInsDt=1
UseRowsStamp=1
Disable=0

[ORACLE/${DB_NAME}]
ConnectionMode=2
ConnectionString="${DB_SERVER}:${DB_PORT}/${DB_SERVICE_NAME}"
LogAction=0
MemoAsBlob=1
Disable=0